@import 'https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Space+Grotesk:wght@300..700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@200';

:root {
  // Colors
  --shark:  #282829;
  --gray: #C8C8C8;

  // Variables
  --primary: #17171D;
  --background: #E2E2E2;
  --secondary: #EFEFEF;
  --tertiary: #EAEAEA;
  --border: #D2D2D2;
  --text-primary: #17171D;
  --text-secondary: #5F5F5F;
  --error: #F00;
}

::-webkit-scrollbar {
  background: var(--background);
  block-size: .375rem;
  border-end-end-radius: .875rem;
  border-start-end-radius: .875rem;
  inline-size: .375rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0.375rem;
  background: var(--shark);
}

::-webkit-scrollbar-corner {
  display: none;
}

html,
body {
  overflow: hidden;
  block-size: 100%;
}

body {
  * {
    box-sizing: border-box;
    color: var(--text-primary);
    font-family: 'Space Grotesk', sans-serif;
  }
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Cormorant Infant', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-block-end: 2rem;
}

h3 {
  font-size: 1.625rem;
  font-weight: 400;
}

label {
  display: block;
  color: var(--text-secondary);
  font-size: .75rem;
  font-weight: 300;
  margin-block-end: 1rem;

  @media (width <= 64rem) {
    font-size: .6875rem;
  }

  @media (width <= 37.5rem) {
    font-size: .625rem;
  }
}

.material-symbols-outlined {
  display: inline-block;
  direction: ltr;
  font-family: 'Material Symbols Outlined', sans-serif;
  font-size: 1.25rem;  /* Preferred icon size */
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
}